<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.__CRON_NAME__</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>__RUN_SH_PATH__</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>__HOUR__</integer>
        <key>Minute</key>
        <integer>__MINUTE__</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/__CRON_NAME__-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/__CRON_NAME__-stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>~</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:~/.nvm/versions/node/v22.17.0/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
